@import url(http://fonts.gooleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.gooleapis.com/earlyaccess/hanna.css);
*{
	font-family : 'Nanum Gothic';
} 
h1{
	font-family : 'Hanna';
}

.container-fluid {
  padding-right: 15px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}